* {
background-color: skyblue; 
color: darkblue;
}
.inputField{
    background-color: white;
    border: solid  1px black;
}
li {
    list-style: none;
}
.box {
height: 1100px;
width: 1000px;
}
.box .all {
height: 1100px;
left: 0;
position: fixed;
top: 0;
width: 1000px;
}
#price-container {
height: 300;
width: 300px;
}
.box .section {
height: 850px;
left: 0;
position: fixed;
top: 0;
width: 500px;
}
#header {
display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
}
#searchBtn {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    background-color: white;
}
#searchBtn:hover {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    background-color: rgb(59 130 246);
    color: white;
}
#input-Container {
    justify-content: center;
    align-items: baseline;
    margin: 5px;
    display: inline-flex;
}
.inputField {
    margin: 5px;
}